- name: clone the bcc git repo
  git:
    repo: "https://github.com/iovisor/{{ item }}"
    dest: "{{ gitpath }}{{ item }}"
    update: yes
    ssh_opts: "-o StrictHostKeyChecking=no"
  with_items:
    - bcc

- name: create build directories
  file:
    path: "{{ gitpath }}{{ item }}/build"
    state: directory
  with_items:
    - bcc

- name: setup the build environment with cmake
  command: cmake .. -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=Release
  args:
    chdir: "{{ gitpath }}{{ item }}/build"
  with_items:
    - bcc

- name: build bcc
  make:
    chdir: "{{ gitpath }}{{ item }}/build"
  with_items:
    - bcc

- name: install bcc commands
  make:
    chdir: "{{ gitpath }}{{ item }}/build"
    target: install
  with_items:
    - bcc
  become: true
