---
- name: get some useful golang packages and tools
  command: go get -u {{ item }}
  with_items:
    - golang.org/x/tools/cmd/godoc
    - golang.org/x/tools/cmd/present
    - golang.org/x/tools/cmd/goimports
    - github.com/bronze1man/yaml2json
    - github.com/roboll/helmfile
    - github.com/google/go-jsonnet/cmd/jsonnet
    - github.com/jsonnet-bundler/jsonnet-bundler/cmd/jb
    - github.com/bojand/ghz/cmd/ghz
  environment:
    GOROOT: "{{ lookup('env', 'GOROOT') }}"
    GOPATH: "{{ lookup('env', 'GOPATH') }}"
    PATH: "{{ lookup('env', 'GOPATH') }}/bin:{{ lookup('env', 'GOROOT') }}/bin:/usr/bin:/bin"

- name: get some gRPC related golang packages and tools
  command: go get -u {{ item }}
  with_items:
    - google.golang.org/grpc
    - google.golang.org/grpc/cmd/protoc-gen-go-grpc
    - github.com/fullstorydev/grpcurl/cmd/grpcurl
    - github.com/golang/protobuf/protoc-gen-go
    - github.com/gogo/protobuf/gogoproto
    - github.com/gogo/protobuf/protoc-gen-gogo
    - github.com/gogo/protobuf/protoc-gen-gofast
    - github.com/mwitkow/go-proto-validators/protoc-gen-govalidators
    - github.com/grpc-ecosystem/grpc-gateway/protoc-gen-grpc-gateway
  environment:
    GOROOT: "{{ lookup('env', 'GOROOT') }}"
    GOPATH: "{{ lookup('env', 'GOPATH') }}"
    PATH: "{{ lookup('env', 'GOPATH') }}/bin:{{ lookup('env', 'GOROOT') }}/bin:/usr/bin:/bin"

- name: get opentracing related golang packages and tools
  command: go get -u {{ item }}
  with_items:
    - github.com/opentracing/opentracing-go
    - github.com/opentracing-contrib/go-stdlib/nethttp
    - github.com/opentracing-contrib/go-amqp/amqptracer
    - github.com/openzipkin/zipkin-go-opentracing
    - github.com/bg451/opentracing-example
  environment:
    GOROOT: "{{ lookup('env', 'GOROOT') }}"
    GOPATH: "{{ lookup('env', 'GOPATH') }}"
    PATH: "{{ lookup('env', 'GOPATH') }}/bin:{{ lookup('env', 'GOROOT') }}/bin:/usr/bin:/bin"
